<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9 ie8" lang="de"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9" lang="de"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="de"> <!--<![endif]-->

<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
      type="image/png"
      href="media/icon/48.png" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />
	
	<title>{{ title }}</title>
	
	<meta name="description" content="{{ description }}" />
	<meta name="keywords" content="" />
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--
	    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    -->


    <link href="css/styles.css" rel="stylesheet"  />

    <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
</head>

<body>

    <!--<header class="b-page-header" role="banner">-->
        <!--<h1>Empathie Training</h1>-->
    <!--</header>-->

    <main class="b-page-main jsb_ jsb_AdjustSize" data-jsb-AdjustSize="width=1280&amp;height=721" role="main">
        {{> body }}
    </main>

    <!--<footer class="b-page-footer" role="contentinfo">-->
    <!--</footer>-->


    {{> scripts }}

</body>

</html>
