---
title: Start
layout: lyt-default.hbs
---
<div class="jsb_ jsb_Router" data-jsb="">
    <div class="jsb_ jsb_LoadPage b-loading-page" data-jsb="path=&amp;id=load&amp;title=Willkommen zum Zirkus Empatico" style="display:none;">
        <!-- <a class="next-link" href="index.html#loading">
        </a> -->
        <div class="fox-animation"></div>
        <audio class="audio"></audio>
    </div>
</div>