---
title: Empathie-Alltags-Training
layout: lyt-default.hbs
---
<div class="jsb_ jsb_Router" data-jsb="">

    <div class="jsb_ jsb_LevelPage b-level-page" data-jsb="path=&amp;id=level&amp;title=Alltagsmodul">
        <div class="stage-background"> </div>

        <div class="stage">

            <div class="library-card">
                <img class="hint-eyes" src="media/images/black.png" alt="Take a look on the eyes"/>
                <img class="hint-mouth" src="media/images/black.png" alt="Take a look on the mouth"/>
                <div class="avatar">
                    <img class="avatar1" src="media/images/black.png" alt=""/>
                </div>
                <div class="avatar">
                    <img class="avatar2" src="media/images/black.png" alt=""/>
                </div>
                <div class="avatar">
                    <img class="avatar3" src="media/images/black.png" alt=""/>
                </div>
                <div class="avatar">
                    <img class="avatar4" src="media/images/black.png" alt=""/>
                </div>
            </div>
            <div class="backgroundstory" style="display:none;"></div>

            <div class="video-container">
                <video class="video"></video>
            </div>

            <div class="hint-video-container">

            </div>

            <div class="fox-animation"></div>

            <img class="fox second-hint" src="img/hint2_joyful_eyes.svg" alt="Fox point again to eyes" />
        </div>

        <div class="emotion-list" style="display:none;"></div>
        <!-- <div class="rays" style="display:none;"></div> -->
        <div class="bottom-bar">
            <button class="first-option"><span></span></button>
            <button class="second-option"><span></span></button>
            <button class="third-option"><span></span></button>
        </div>
        <div class="curtain curtain-left"></div>
        <div class="curtain curtain-right"></div>

        <div class="manikin manikin-slider-arousal" style="display: none;">
            <div class="manikin manikin-slider-arousal-min"></div>
            <div class="manikin manikin-slider-arousal-ui"></div>
            <div class="manikin manikin-slider-arousal-max"></div>
        </div>

        <div class="manikin manikin-slider-valence" style="display: none;">
            <div class="manikin manikin-slider-valence-min"></div>
            <div class="manikin manikin-slider-valence-ui"></div>
            <div class="manikin manikin-slider-valence-max"></div>
        </div>


        <div class="manikin manikin-self" style="display: none;"></div>

        <audio class="audio"></audio>
        <audio class="background-audio">
            <!-- <source src="media/audios/win_sound.mp3"/> -->
        </audio>



        <button class="correct-option"><span></span></button>
        <button class="next-button"><span></span></button>
        <button class="done-button"><span></span></button>
        <button class="home-button"><span></span></button>
        <button class="close-button"><span>Schließen</span></button>
        <button class="skip-button"><span>Skip</span></button>
    </div>


	<div class="jsb_ jsb_Tracking">

	</div>
</div>