%base-page {
  /*
  width: 1024px;
  height: 576px;
  */
  //Tablet Z2 optimal solution
  width: 1280px;
  height: 721px;

  position: relative;
  overflow: hidden;
  display: none;
  button, a {
    user-select: none;
    -webkit-user-select: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  button#button-logout{
    position: absolute;
    right: 120px;
    border: 1px solid;
    height: 40px;
    width: 40px;
    top: 60px;
  }
}